.FoodCard {
  background-color: rgba(184, 189, 212, 0.199);
  border: none;
  border-radius: 10px;
  display: inline-block;
  margin: 2px 4px 4px;
  margin-bottom: 10px;
  position: relative;
  width: 150px;
}

.imgFC {
  align-items: center;
  border-radius: 10px;
  height: 100%;
  margin-bottom: 10px;
  width: 100%;
  z-index: 5;
}

.pFC {
  background-color: transparent;
  bottom: -16px;
  box-shadow: 0 -5px 5px 0 white;
  height: 15px;
  left: 3px;
  position: absolute;
  width: 100%;
  z-index: 6;
}

.FoodCard:hover {
  border-left: 1px solid #260a4e;
  border-right: 1px solid #260a4e;
  border-top: 1px solid #260a4e;
}
